h1,h2{
    text-align:center;
    
  }

  pre{
      margin-left:5%;
      font-size:20px;
      font-family:Arial;
  }
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
      height: 10%;
  }
 table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
	width: 10%;
 }

th {
	background-color: #f2f2f2;
}
td a:hover {
	text-decoration: underline;
}
td a:active {
  box-shadow: 2px 4px 5px purple;
  background-color: #f2f;
}
td a:visited {
  color: #555;
}
table, th, td {
	border: 1px solid black;
}
div{
  background-color: gray;
}